# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

- Python 
- SQL (Structured Query Language)
- R
- Julia
- Java Script

### Objectives:

1. Introduction to Jupyter Notebooks
2. Python Programming Basics
3. Data Manipulation with Pandas

## Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Pandas
4. Keras

| Data Science Tools   |
|--------------------  |
|1. Jupyter Notebook   |
|2. R Studio           |
|3. VS code with Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
a=10
b=20
sum=a+b
print("\n sum=",sum)

 sum= 30

### This a simple arithmetic expression to mutiply then add integers

In [2]:
print("\n Ans=",(3*4)+5)

 Ans= 17

###  This will convert 200 minutes to hours by diving by 60

In [4]:
a=200 #in minutes
print("In Hrs=",200/60)

In Hrs= 3.3333333333333335

## AUTHOR:
## Vasantha Kumar .V